* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
    background-image: url("/assets/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quizlet {
    font-size: 64px;
    font-family: 'Bruno Ace', sans-serif;
    text-transform: uppercase;
    color: #eee5e9;
    margin: 0.3em;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0.1em;
}

.container {
    background-image: url("/assets/glassrectangle.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}


/*Answer Buttons & Container*/
.question__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.question__container h3{
    display: flex;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.5rem;
    color: #eee5e9;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 1rem;
    text-align: center;
    margin: 0.5em;
    max-width: 1000px;
}
.answerList button{
    box-sizing: border-box;
    padding: 16px 30px 16px 15px;  /* Increase right padding */
    background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    border: 2px solid #eee5e9;
    border-radius: 100px;
    color: #EEE5E9;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    min-width: 250px;
    min-height: 50px;
    font-weight: 600;
    line-height: 20px;
}
.answerList button:hover{
    background-image: linear-gradient(114.55deg, rgba(113, 53, 151, 0.9) 2.13%, rgba(66, 38, 84, 0) 98.14%), radial-gradient(97.09% 224.61% at 1.38% 96.94%, rgba(240, 207, 255, 0) 0%, #7D4497 100%), radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(243, 216, 255, 0) 0%, #E4B0FC 100%);


}
.answerList button:focus{
    background: radial-gradient(circle, rgba(112,63,251,1) 0%, rgba(213,70,252,0.6246105205278593) 96%, rgba(213,70,252,1) 100%);
}

.answerList {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    }

/*Button*/
.btn {
    margin: 5em;
    background: linear-gradient(134deg, rgba(66, 38, 84, 0.15), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    border: 3px solid #82509F;
    border-radius: 100px;
    color: #EEE5E9;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    width: 135px;
    height: 50px;
    font-weight: 600;
    line-height: 20px;
}

  .btn:hover {
    background-image: linear-gradient(114.55deg, rgba(113, 53, 151, 0.9) 2.13%, rgba(66, 38, 84, 0) 98.14%), radial-gradient(97.09% 224.61% at 1.38% 96.94%, rgba(240, 207, 255, 0) 0%, #7D4497 100%), radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(243, 216, 255, 0) 0%, #E4B0FC 100%);

  }

  .btn:disabled{
   display: none;
  }

/*timer*/
.timer{
    width: 5rem;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(10px);
    border: 3px solid #82509F;
    border-radius: 100px;
    color: #EEE5E9;
    font-family: 'Chakra Petch', sans-serif;
    font-size:1.rem;
    cursor: pointer;
    font-weight: 600;
    line-height: 20px;

}