<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/components/footer/footer.css" rel="stylesheet" />
    <title>footer</title>
  </head>
  <body>
    <div class="footer_container">
    <div class="footer_left">
      <div class="madeby">
        <p>MADEBY</p>
      </div>
      <div class="divider">
        <img src="/assets/divider.png" alt="|" class="divider" />
      </div>

      <div class="madeby">
        <p>MADHU</p>
      </div>
      <div class="madeby">
        <p>RACHEL</p>
      </div>
      <div class="madeby">
        <p>MEELAUD</p>
      </div>
      <div class="madeby">
        <p>SEBIN</p>
      </div>
      <div class="madeby">
        <p>OLIVIA</p>
      </div>
    </div>

    <div class="footer_right">
      <div class="footer_links">
        <a href="#"><p>Home ↗</p></a>
        <div class="divider">
          <img src="/assets/divider.png" alt="|" class="divider" />
        </div>
      </div>

      <div class="footer_links">
        <a href="#"> <p>Quizzes ↗</p> </a>
        <div class="divider">
          <img src="/assets/divider.png" alt="|" class="divider" />
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
